.InputContainer {
    margin-top: 0.5rem;
}



.headerContainer{
    float: left;
    width: 50px;
    border: 1px, black;
}
.outputs{
    display: flex;
    flex-direction: row;
    border: 1px, black;
    gap: 2rem;
    text-align: left;
    width: 450px;
}
.Grid {
    margin-left: 2rem;
    margin-right: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}